* {
    color: white;
    text-shadow: 0 0 9px #ffffff;
    font-family: Silkscreen,'Courier New', Courier, monospace;
}
body {
    background-color: #000;
}
/* universal rules + fonts*/

/*-------- HEADER ---------*/
.hdr {
   font-size: 90px; 
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   text-align: center;
   margin-bottom: -10px;
   text-shadow: 0 0 9px #ffffff;
}
.R {
    transition: font-size 0.4s;
}
.R:hover {
    font-size: 95px;
}
.E {
    transition: font-size 0.4s;
}
.E:hover {
    font-size: 95px;
}
.E2 {
    transition: font-size 0.4s;
}
.E2:hover {
    font-size: 95px;
}
.L {
    transition: font-size 0.4s;
}
.L:hover {
    font-size: 95px;
}
.O {
    transition: font-size 0.4s;
}
.O:hover {
    font-size: 95px;
}
.lt {
    font-size: 95px;
}
.gt {
    font-size: 95px;
}
/*-------- HEADER ---------*/

/*-------- MEMBERS ---------*/
#mbrs_title {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 40px;
}
.mbr_section {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    width: calc(100% - 100px);
}
.mbrs {
    display: grid;
    grid-template-columns: 350px auto;
    grid-template-rows: auto auto;
}
.mbrs div {
    padding: 5px;
}
.info {
    grid-row: 2;
}
.Theimg {
    grid-column: 2;
    grid-row: 2;
}

/*-------- MEMBERS ---------*/
